.post .post-content p.img-caption {
    text-align: center;
    font-size: 1.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

table.ci-generic {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    margin-bottom: 1rem;
}

table.ci-generic th {
    /* Same as body's background color */
    color: #181818;
    font-weight: bolder;
    background-color: #AAAAAA;
    text-align: start;
    padding-left: 1rem;
    width: 8rem;
    border-radius: 0.2rem;
}

table.ci-generic td {
    padding-left: 1rem;
}

table.ci-generic td.bitrate-img {
    padding: 0.25rem;
}

table.ci-generic td.bitrate-img img {
    border-radius: 1rem;
}

.arrow {
    border: solid #3A4E3E;
    border-width: 0 12px 12px 0;
    display: inline-block;
    padding: 12px;
    margin: 12px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}