.hl-available {
    background-color: #4060428A;
}
.hl-not-available {
    background-color: #6048408A;
}
table.one-comparison {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    margin-bottom: 0.5rem;
}
table.one-comparison th {
    /* Same as body's background color */
    color: #181818;
    font-weight: bolder;
    background-color: #AAAAAA;
    text-align: start;
    padding-left: 1rem;
    width: 8rem;
    border-radius: 0.2rem;
}
table.one-comparison td {
    padding-left: 1rem;
}